
// custom variable values
$primary: #d10e73;
$light: #fcb6d6;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #fffedb,
  "altdark": #f082d1
);

// merge the maps to add new theme colors

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "~bootstrap/scss/bootstrap";