
// custom variable values
$primary: deeppink;
$light: lightpink;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": lightyellow,
  "altdark": lightpink,
);

// merge the maps to add new theme colors

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "~bootstrap/scss/bootstrap";